.experience-blue-stain {
    transform: rotate(-44deg); 
    bottom: -160px;
    width: 350px;
    right: -12%;
}

@media(max-width: 768px){
    .experience-blue-stain{
        bottom: -150px !important;
        width: 250px !important;
        right: -25%;
    }
  }

.experience-container {
    overflow-x: clip;
    z-index: -5;
}

.experience-container::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background-color: white;
    clip-path: polygon(-81% 59%, 0 110%, 110% 100%);
}

.experience-dotted-stain {
    bottom: -165px;
    width: 400px;
    right: -15%;
}

@media(max-width: 768px){
    .experience-dotted-stain{
        bottom: -165px !important;
        width: 300px !important;
        right: -35%;
    }
  }

.experience-drops {
    bottom: -140px;
    width: 270px;
    right: -12%;
}

@media(max-width: 768px){
    .experience-drops{
        bottom: -115px !important;
        width: 200px !important;
        right: -25%;
    }
  }