html, body {
  font-family: "Open Sans", sans-serif !important;
}

.introduction-text {
  position: relative;
  z-index: 1;
}

.hero-btns a {
 max-width: 235px;
 margin-top: 15px;
 align-self: center;
}
.svg-blob {
  position: absolute;
  top: -100px;
  right: -135px;
  width: 485px;
}

.vertical-center {
  min-height: 80%;
  min-height: 80vh;
  display: flex;
  align-items: center;
}

h1 {
 color: #fffffe;
 font-weight: 700;
 font-size: 56px !important;
}

h2.purple {
 color: #232946;
 font-weight: 700;
 font-size: 42px !important;
}

h2.white {
 color: #fffffe;
 font-weight: 700;
 font-size: 42px !important;
}

p {
 color: #606060;
}

p.tagline {
  margin-left: 90px;
  margin-right: 90px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 20px;
  padding-top: 5px;
}

p.experience {
 color: #fffffe;
 font-weight: 500;
 font-size: 18px !important;
 margin-left: 60px;
 padding-left: 60px;
}

.background-purple {
  background: #232946;
}

 
.navbar {
  transition: all 0.5s ease;
}

.hero-section {
  padding-right: 0 !important;
}

.hero-section:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background-color: white;
  clip-path: polygon(100% 59%, -1% 110%, 110% 100%);
}

.background-purple-light {
  background: #d4d8f0;
}

.background-pink {
  background: #eebbc3;
}

.img-rounded {
    border-radius: 50%;
}

.btn.btn-primary {
  color: #232946;
  background-color: #eebbc3;
  border-color: #eebbc3;
  width: 15%;
  font-weight: 500;
  font-size: 20px !important;
}

.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:active,
.btn.btn-primary.active {
  color: #232946;
  background-color: #e9a7b1;
  border-color: #e9a7b1;
}

.min-height-100 {
  min-height: 100%
}

.education-padding {
  padding: 50px 100px;
}

.education-card-title {
  color: #232946;
  font-weight: 500;
  font-size: 24px !important;
  line-height: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.education-card-text {
  color: #232946;
  font-weight: 500;
  font-size: 18px !important;
}

p.education-card-text {
  line-height: 30px;
  margin: 15px 0;
}

.education-box-margin {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
}

nav {
  z-index: 5;
}

.education-logo {
  min-width: 80px;
  min-height: 80px;
}

.pink-stain {
  height: 910px;
  transform: rotate(-30deg);
  bottom: -4vh;
  left: 35%;
  z-index: -1;
}

.plant-1 {
  transform: rotate(-38deg);
  right: 0;
  bottom: 105px;
  width: 125px;
  animation: plant-1 1.5s alternate 1 ease-in;

}

.plant-2 {
  transform: rotate(-7deg);
  right: 0;
  bottom: 0px;
  width: 235px;
  animation: plant-2 2s alternate 1 ease-in;

}

.hero-dots{
  transform: rotate(-25deg);
  top: -6vh;
  width: 519px;
  right: 15%; 
  z-index: -1;
}

@keyframes plant-2 {
  0%   {
    width: 65px;
    transform: rotate(0deg);
    right: -20px;
  }
  100% {
    right: 0;
    width: 235px;
    transform: rotate(-7deg);
  }
}

@keyframes plant-1 {
  0%   {
    width: 65px;
    transform: rotate(-18deg);
    right: -20px; 
  }
  100% {
    right: 0; 
    width: 125px;
    transform: rotate(-38deg);
  }
}

.hero-name {
  font-weight: 700;
  font-size: 74px;
  line-height: 1.2;
  text-align: left;
}

.purple-stain {
  z-index: -3;
  transform: rotate(28deg);
  bottom: -90px;
  width: 400px;
  left: -16%;
}

.dotted-stain {
  transform: rotate(35deg);
  bottom: -55px;
  width: 360px;
  left: -10%;
  z-index: -2;
}

.hero-dots-2 {
  bottom: 37px;
  left: -5%;
  width: 244px;
  transform: rotate(155deg);
  z-index: -3;
}
.hero-dots-3 {
  bottom: 37px;
  left: -3%;
  width: 244px;
  transform: rotate(-20deg);
  z-index: -3;
}

.profile-picture {
  margin-left: 70px;
  margin-bottom: 50px;
  animation: profile-picture .7s alternate 1 ease-in;
}


@keyframes profile-picture {
  0%   { 
    filter: blur(5px);
    opacity: 0;
  }
  100% {  
    filter: blur(0);  
    opacity: 1;
  }
}

.document-1 {
	width: 840px;
	height: 70px;
	background: #232946;
	border-color: #232946;
	border-width: 2px;
	border-style: solid;
}
.contact-btn {
  border-radius: 20px;
  border: 1px solid #eebbc3;
  background: #eebbc3;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.read-more-btn {
  
  border: 1px solid #eebbc3;
  background: transparent;
  border-color: white;
  border-width: 3px;
  border-radius: 20px;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}


.contact-btn:hover {
  color: #232946 !important;
}

@media (max-width: 768px) {
  .profile-picture {
    margin: 0;
    margin-bottom: 06px;
    width: 250px !important;
  }  

  .hero-name {
    font-size: 62px;
  }

  .pink-stain {
    bottom: 17vh;
    left: 3%;
    max-width: none;
    width: 850px;
  }

  .purple-stain {
    width: 200px;
  }
  
  .dotted-stain {
    width: 180px;
  }
  
  .hero-dots-2 {
    width: 100px;
  }
  .hero-dots-3 {
    width: 100px;
  }

  .hero-dots{
    width: 260px;
  }

}


.navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' height='32px' id='Layer_1' style='enable-background:new 0 0 32 32%3B' version='1.1' viewBox='0 0 32 32' width='32px' xml:space='preserve'%3E%3Cscript xmlns=''/%3E%3Cpath d='M4 10h24c1.104 0 2-0.896 2-2s-0.896-2-2-2H4C2.896 6 2 6.896 2 8S2.896 10 4 10z M28 14H4c-1.104 0-2 0.896-2 2 s0.896 2 2 2h24c1.104 0 2-0.896 2-2S29.104 14 28 14z M28 22H4c-1.104 0-2 0.896-2 2s0.896 2 2 2h24c1.104 0 2-0.896 2-2 S29.104 22 28 22z' style='fill:%23fff%3B'/%3E%3C/svg%3E");
}

.go-up-btn {
  position: fixed;
  bottom: 15px;
  right: 15px; 
  transition: 1s all ease;
  z-index: 20;
}